[Unit]
Description=Run yt-downloader worker one-shot repeatedly

[Timer]
OnBootSec=20s
OnUnitInactiveSec=15s
AccuracySec=1s
Unit=yt-downloader-worker.service

[Install]
WantedBy=timers.target
