{
    servers {
        trusted_proxies static IP_NGINX/32
        trusted_proxies_strict
    }
}

http://music.alejandrogb.local:8081 {
    bind IP_CT

    encode zstd gzip

    root * /var/www/yt-downloader

    route {
        @api path /api/*
        handle @api {
            reverse_proxy 127.0.0.1:8080
        }

        handle {
            try_files {path} /index.html
            file_server
        }
    }
}
